body {
  background: #dedee2; }

.column {
  margin-left: -2px; }

.hide {
  display: none !important; }

.right-align {
  float: right !important; }

body.pushable > .pusher {
  background: #dedee2; }

.ui.attached.menu:not(.tabular) {
  border: none; }

.ui.modal button {
  color: #fefefe; }

.text-center {
  text-align: center;
  display: inline-block;
  line-height: 16px;
  margin-top: 10px;
  font-size: 12px; }

#logo {
  width: 5em;
  margin: 0 auto;
  display: block;
  margin-top: 2em;
  margin-bottom: 2em; }

#text-logo {
  display: block;
  margin: 0 auto;
  float: right;
  margin-left: 44%;
  height: 2em;
  margin-top: 0.5em; }

.user-avatar {
  background: #38c2c8;
  margin-top: 0px !important; }

.user-avatar h2, .user-avatar h3, .user-avatar a {
  color: #fefefe; }

.update-photo {
  background: transparent !important;
  border: 1px solid #fefefe !important;
  color: #fefefe !important;
  margin-top: 2em !important; }

.avatar {
  width: 100%;
  border-radius: 20em; }

.user-avatar .email {
  font-size: 1.2em; }

.edit-data-form {
  float: right;
  display: block;
  position: relative;
  margin-left: 10em;
  background: #38c2c8 !important;
  border-radius: 5em !important;
  line-height: 1.5em; }

/* BUTTONS */
.ok-button, .close-button {
  background: #39cd6b !important; }

.cancel-button {
  background: #ef5361 !important; }

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

html.ios,
html.ios body {
  height: initial !important; }

.main-content.login img {
  width: 100%; }

.ui.dropdown.icon.item {
  display: block; }

.main-content.login .column {
  padding: 3em !important;
  min-height: 510px;
  font-family: 'Open Sans', sans-serif !important;
  -webkit-box-shadow: 2px 3px 22px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 22px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 22px -4px rgba(0, 0, 0, 0.75); }

.main-content.login .column:first-child {
  background: #38c2c8;
  color: #fefefe; }

.main-content.login .column:first-child h1 {
  margin-bottom: -40px;
  font-size: 3em;
  margin-top: 0px; }

.main-content.login .column:first-child h2 {
  font-size: 3em;
  border-bottom: 0.1em solid #fefefe;
  padding-right: 20px;
  margin-bottom: 1em; }

.main-content.login .column:first-child p {
  font-size: 0.8em;
  margin-top: 30%; }

.main-content.login .column:nth-child(2) {
  background: #fefefe; }

.main-content.login .column:nth-child(2) h3 {
  font-size: 2em; }

.main-content.login .column:nth-child(2) a {
  color: #fed048; }

.main-content.login .column:nth-child(2) a:hover {
  color: #fed048;
  text-decoration: underline; }

.main-content.login .column:nth-child(2) input {
  background: #f4f4f5; }

.main-content.login .column:nth-child(2) .ui.fluid.dropdown.selection {
  background: #f4f4f5; }

.main-content.login .column:nth-child(2) button {
  border-radius: 40px;
  width: 60%;
  margin: 0 auto; }

.sa-confirm-button-container button {
  background-color: #35afaf !important; }

#nav.ui.top.attached.menu {
  background: #38c2c8;
  -webkit-box-shadow: -1px 3px 15px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 15px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 3px 15px -1px rgba(0, 0, 0, 0.75); }

#nav i {
  color: #fefefe; }

#side-nav i {
  float: left;
  padding-right: 2em; }

#side-nav .item:first-child {
  margin-top: 6em; }

.add-course {
  background: #fed048 !important;
  margin: 0 auto !important;
  display: block !important; }

.add-class {
  background: #38c2c8 !important;
  width: 100%;
  color: #fefefe !important;
  border-radius: 40px !important; }

.added-blocks {
  margin-top: 2em; }

.added-blocks div {
  width: 100%;
  color: #fefefe !important; }

.color-label {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 1em; }

.red-label {
  background-color: #ef5361; }

.yellow-label {
  background-color: #fed048; }

.green-label {
  background-color: #39cd6b; }

.blue-label {
  background-color: #599bf0; }

.fc-row.fc-widget-header {
  background-color: #fcb249;
  color: #fefefe; }

.fc-toolbar button {
  background: #fefefe; }

.colorpicker {
  width: 1.5em; }

.fc-unthemed .fc-today {
  background-color: #f37d88; }

.segment-content {
  margin-top: 4em; }

.save-calendar {
  background: #38c2c8 !important;
  color: #fefefe !important;
  width: 100%; }

#draggable1 {
  width: 150px;
  height: 35px;
  padding: 0.5em; }

#draggable2 {
  width: 150px;
  height: 35px;
  padding: 0.5em; }

#draggable3 {
  width: 150px;
  height: 35px;
  padding: 0.5em; }

#unit-sort {
  width: 100%;
  height: 35px;
  padding: 0.5em;
  margin-bottom: 6em; }

#unit-sort > div {
  float: left; }

.unit-block {
  width: 23%;
  height: 100px;
  margin-left: 1em;
  text-align: center;
  color: #fefefe;
  padding-top: 2em;
  cursor: pointer;
  border-radius: 10px; }

.unit-block span {
  display: block;
  font-size: 2em;
  font-weight: bold; }

.fc-content-skeleton {
  background-color: #fcb249 !important;
  color: #fefefe !important; }

.custom-calendar .day {
  height: 300px; }
