/* normalize.css v3.0.2 | MIT License | git.io/normalize */
/*html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent;}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}body{font-size:16px;background-color:#dedee2 !important}.bar-title{height:8em;border-bottom:2px solid #ebebeb;text-align:left;margin-top:.8em;}.bar-title figure{margin:.8em}.box{background-color:#fff;margin:1em auto;width:70%;}.box .title{font-size:1.2em;color:#48c1c7;text-transform:uppercase;text-align:center}.box-alert{background-color:#f4cf3a;border-radius:4px;color:#fff;height:2em;margin:2em auto;text-align:center;width:400px}.box-logo{border-bottom:2px solid #48c1c7;width:auto;}.box-logo figure{text-align:center}.box-unit{display:inline-block}.box-profile{background-color:#fff;position:relative;margin-bottom:1em}.btn-submit{background-color:#48c1c7;border-color:#48c1c7;color:#fff;width:24.5em;padding:1em;border-radius:4px;margin-bottom:3em}.btn-edit{background-color:#48c1c7;padding:.5em 2em;width:12%;border-radius:4px;}.btn-edit a{color:#fff;text-align:center;}.btn-edit a:hover{color:#fff;text-decoration:none}.container{width:100%}.complete{text-align:center;background-color:#48c1c7;color:#f4cf3a;font-size:1.2em;margin:1em auto;width:80%}.font-yellow{color:#f4cf3a}.form-content{margin:3em auto;width:400px}.form .form-control{margin-bottom:1em;background-color:#f0f8ff;border-radius:4px;font-size:1em;padding:.8em;width:23em;border:none}.form-select{margin-bottom:1em;width:24.4em}.left{float:left}.right{float:right}.p-form{text-align:center}.panel{border:2px solid #48c1c7 !important;margin:1em auto;width:50%;}.panel .table td{padding:.8em .4em;text-align:left}.table>tbody>tr>td{border-top:1px solid #f4cf3a !important}.title-login{text-align:center;color:#48c1c7;font-size:1.2em;margin-top:2em;padding:1em;text-transform:uppercase}*/

body {
  background: #dedee2;
}

.attached.menu {
  background: #38c2c8;
  color: #fff;
}

.attached.menu i {
  color: #fff;
}

::-webkit-input-placeholder {
    color:    #fff !important;
}
:-moz-placeholder {
    color:    #fff !important;
}
::-moz-placeholder {
    color:    #fff !important;
}
:-ms-input-placeholder {
    color:    #fff !important;
}

.profile {
  line-height: 45px;
  padding-right: 70px;
  padding-left: 40px;
}

.main-content.calendar {
  margin: 45px !important;
  background: #fff;
  border-radius: 5px;
}

.main-content.login {
  border-radius: 5px;
  margin: 45px !important;
}

.login-block {
  background: #fff;
}

.new-event {
  margin: 10px 0px !important;
  border-radius: 20px !important;
  width: 90%;
}

.added-event {
  width: 90%;
  margin: 5px 0px !important;
}

.fc-head-container {
  background: #fac716;
  color: #fff;
  text-transform: uppercase;
}

.fc-toolbar h2 {
  font-weight: bold;
}

.fc-toolbar h2::first-letter {
  text-transform: uppercase;
}

.fc-event-container {
  padding: 0px 20px !important;
}

.fc-content {
  padding: 5px 0px !important;
  text-align: center;
  font-size: 14px;
}

.instructions {
  color: #85888e;
}

.fc-day-grid-event {
  border-radius: 20px !important;
  border: none !important;
}

.fc-state-default {
  background: #fefefe;
}

.fc-state-down{
  box-shadow: none;
}

button {
}

button:focus {
    outline: 0;
}

.ui.card {
  box-shadow: none;
}

.ui.menu .ui.dropdown .menu > .item:hover {
  background: none !important;
}

.ui.menu .item {
  color: #fff !important;
}

.year-calendar .ui.menu .item {
  color: #000 !important;
}

.year-calendar .ui.menu .item.active {
  color: #38c2c8 !important;
}

.ui.card .fa {
  color: rgba(0, 0, 0, 0.4);
}

.ui.inverted.menu {
  background: #f9f9f9 !important;
}

.ui.inverted.menu a {
  color: #85888e !important;
}

.ui.vertical.menu .item > i.icon {
  float: none;
}

.ui.vertical.menu .item.active {
  background: #38c2c8;
}

.ui.sidebar.menu .item {
  padding: 20px 30px;
}

body.pushable > .pusher, body.pushable {
  background: #dedee2;
}

.menu.visible {
  background: #38c2c8 !important;
  color: #fff;
}

.ui.menu .ui.dropdown .menu > .item, .menu.visible span {

}

.fc-day-number {
  display: none;
}

.menu.visible {
  background: #f9f9f9 !important;
}

.login-left {
  background: rgba(56, 194, 200, 0.5);
  padding: 4em 4em !important;
  color: #fefefe;
}

.login-left h4 {
  font-size: 3em;;
  /* margin-top: 47px; */
  position: relative;
}

.underlined {
  border-bottom: 6px solid #fefefe;
}

.login-right {
  background: #fefefe;
  color: #000;
}

.login-right a {
  color: #fac716;
}

.login-right a:hover {
  text-decoration: underline;
}

.avatar-profile {
  width: 32em !important;
  height: 20em !important;
}

.edit {
  border: 1px solid #fefefe;
  border-radius: 1em;
  padding: 10px;
  color: #fefefe;
}

.edit:hover {
  color: #fefefe;
  margin-top: 1em;
}

.big-avatar {
  /*background: rgba(56, 194, 200, 0.5), url('http://semantic-ui.com/images/avatar2/large/kristy.png');*/
  background-position: -250px -80px;
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(56, 194, 200, 0.8),
      rgba(56, 194, 200, 0.8)
    ),
    /* bottom, image */
    url(http://semantic-ui.com/images/avatar2/large/kristy.png);
}

.avatar-profile {
  margin-bottom: 40px;
}

.big-avatar h4 {
  font-weight: bold;
  font-size: 1.5em;
  color: #fefefe;
}

.big-avatar h3 {
  font-weight: bold;
  font-size: 2em;
  color: #fefefe;
}

.big-avatar .email {
  font-size: 1.2em;
  color: #fefefe;
}

.foot-columns {
  background: #fefefe;
  margin-top: 40px;
}

.personal {
  padding: 1em;
  background: #fefefe;
}

.personal a {
  color: #909db0;
  font-size: 18px;
}

.hide {
  display: none !important;
}

/*.inline.field label {
  float: left;
  line-height: 2.5em;
}

.inline.field input {
  float: right;
  width: 40em;
}*/

#context1 {
  width: 78em;
  background: #fff;
  padding: 2em;
  margin-left: -190px;
}

.fff .ui.menu .item {
  color: #323a45 !important;
}

.fff .ui.menu .item.active {
  color: #38c2c8 !important;
  background: transparent;
  border-bottom: 1px solid #38c2c8;
  border-radius: 0px;
}

.fff .ui.menu .item:hover {
  color: #38c2c8 !important;
  background: transparent;
}

.ui.segment {
    box-shadow: none;
    border: none;
}

.row.left {
  text-align: center;
}

.login .ui.grid > [class*="eight wide"].column, .login .ui.column.grid > [class*="eight wide"].column {
  background: #fff;
  width: 800px !important;
  margin-left: 50px;
}

.ui.attached.segment {
  border: none;
}

.ui.tabular.menu {
  border-bottom: none;
}

.ui.tabular.menu .active.item {
  border-color: transparent;
}

.bottom-items {
  background: #fff;
  margin-top: 40px !important;
  text-align: center;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.bottom-items .column:first-child {
  margin-left: 12%;
}

.window {
  text-align: center;
}

#edit-data {
  border-bottom: 1px solid #dedee2;
}

#edit-data .item.active {
  border-bottom: 1px solid #38c2c8;
}

#edit-data button {
  border-radius: 20px;
  padding: 0px 60px;
  background: #38c2c8;
}

#edit-data .item. #edit-data .item.active {
  /*margin-bottom: -11px;*/
}

.year-calendar {
  background: #fefefe;
}

.year-calendar .fc-right {
  display: none;
}

.year-calendar .fc-scroller.fc-day-grid-container {
  overflow-x: visible !important;
  overflow-y: visible !important;
  height: auto !important;
}

.year-calendar .active.item {
  color: #38c2c8 !important
}

.year-calendar .item {
  color: rgba(0, 0, 0, 0.87) !important;
}

.ui.inverted.menu .active.item:hover {
  background: #35afaf !important;
}

.ui.image {
  max-width: 90%;
}

.sweet-alert button, .do-login {
    background-color: #38c2c8 !important;
}

.do-login {
  color: #fff !important;
}

.username-input {
  cursor: auto;
  background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAkCAYAAADo6zjiAAAAAXNSR0IArs4c6QAAAbNJREFUWAntV8FqwkAQnaymUkpChB7tKSfxWCie/Yb+gbdeCqGf0YsQ+hU95QNyDoWCF/HkqdeiIaEUqyZ1ArvodrOHxanQOiCzO28y781skKwFW3scPV1/febP69XqarNeNTB2KGs07U3Ttt/Ozp3bh/u7V7muheQf6ftLUWyYDB5yz1ijuPAub2QRDDunJsdGkAO55KYYjl0OUu1VXOzQZ64Tr+IiPXedGI79bQHdbheCIAD0dUY6gV6vB67rAvo6IxVgWVbFy71KBKkAFaEc2xPQarXA931ot9tyHphiPwpJgSbfe54Hw+EQHMfZ/msVEEURjMfjCjbFeG2dFxPo9/sVOSYzxmAwGIjnTDFRQLMQAjQ5pJAQkCQJ5HlekeERxHEsiE0xUUCzEO9AmqYQhiF0Oh2Yz+ewWCzEY6aYKKBZCAGYs1wuYTabKdNNMWWxnaA4gp3Yry5JBZRlWTXDvaozUgGTyQSyLAP0dbb3DtQlmcan0yngT2ekE9ARc+z4AvC7nauh9iouhpcGamJeX8XF8MaClwaeROWRA7nk+tUnyzGvZrKg0/40gdME/t8EvgG0/NOS6v9NHQAAAABJRU5ErkJggg==&quot;);
  background-attachment: scroll;
  background-size: 16px 18px;
  background-position: 98% 50%;
  background-repeat: no-repeat;
}

.login-backdrop {
  background: url(../img/login-backdrop.jpg) no-repeat;
  color: #fefefe;
}

.login-backdrop h1 {
  font-size: 4em;
  text-align: left;
  margin-left: 1em;
}

.login-backdrop span {
  display: block;
  text-decoration: underline;
}

#login .column {
  min-height: 500px;
  background-color: #fefefe;
}

#login.ui.grid {
  margin-top: 1em;
}

#profile.ui.grid {
  margin-top: 1em;
}

#profile .column {
  min-height: 538px;
  background: #fefefe;
}

.login-text {
  text-align: left;
  margin-left: 1em;
}

.login-text h2 {
  font-size: 2em;
}

.font-yellow {
  text-decoration: underline;
  color: #fed048;
}

#login .button {
  width: 21% !important;
}

.font-yellow.forgot {
  margin-top: -30px;
  display: block;
  margin-left: -10em;
}

.ui.form .success.message, .ui.form .warning.message, .ui.form .error.message {
  display: block;
}

.ui.avatar.images .image, .ui.avatar.images img, .ui.avatar.images svg, .ui.avatar.image img, .ui.avatar.image svg, .ui.avatar.image {
  display: block;
  margin-right: auto !important;
}

.avatar-profile {
  width: 20em !important;
  height: auto !important;
  /* text-align: center; */
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

#profile .column:first-child {
  background: #38c2c8;
  color: #fefefe;
}

#profile .column:first-child a {
  color: #fefefe;
}

#profile .column:first-child a.edit-photo {
  border: 1px solid #fefefe;
  border-radius: 20px;
  padding: 10px 30px;
  margin-top: 30px;
}

.float-left {
  float: left;
}

.ui.celled.table tr th, .ui.celled.table tr td, .ui.table {
  border: 0px;
}

#profile .active.item {
  color: #38c2c8 !important;
}

#profile .item {
  color: #323a45 !important;
}

#profile .ui.primary.button {
  border-radius: 20px;
  padding: 0px 60px;
  background: #38c2c8;
  line-height: 40px;
}

#courses .column {
  background: #fefefe;
  min-height: 400px;
}

#courses.ui.grid {
  margin-top: 1em;
}

#create-profile .column {
  background: #fefefe;
  min-height: 700px;
}

#create-profile.ui.grid {
  margin-top: 1em;
}

.continue {
  background: #38c2c8;
  color: #fefefe;
  /* width: 21% !important; */
  padding: 10px 40px;
  border-radius: 30px;
}

#create-profile label, #courses label {
  float: left;
}

#finish-profile .column {
  min-height: 600px;
  background: #fefefe;
}

#finish-profile.ui.grid {
  margin-top: 1em;
}

#register .column {
  min-height: 610px;
  background: #fefefe;
}

#register.ui.grid {
  margin-top: 1em;
}

.colorpicker {
  width: 22px;
}

.finish-calendar {
  background: #ef5361 !important;
}
