<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Poptimize - Crear horario</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="../bower_components/semantic/dist/semantic.css">
  <link rel="stylesheet" href="../bower_components/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="../bower_components/fullcalendar/dist/fullcalendar.css">
  <link rel="stylesheet" href="../dist/css/main.css">
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <link rel="stylesheet" href="../bower_components/feedback_me/css/jquery.feedback_me.css">
  <script src="../bower_components/feedback_me/js/jquery.feedback_me.js"></script>
  <script src="../bower_components/js-cookie/src/js.cookie.js"></script>
  <script src="scripts/config.js"></script>
  <script>
  var extension = is_local ? '.html' : '';
  if(!Cookies.get('loggedAs')){
    window.location = '/login'+extension;
  }
  </script>
  <style>
  #course-calendar .fc-toolbar {
    display: none;
  }
  </style>
  <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '1813674115623238'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=1813674115623238&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
  <!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//poptimize.cl:8080/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//poptimize.cl:8080/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</head>
<div class="ui modal" id="tutorial">
  <div class="header">
    Tutorial
    <i class="close icon" style="float:right;"></i>
  </div>
        <div class="content" style="text-align: center;" style="width: 100%; height: auto;">
        <iframe align="middle" width="688" height="387" src="https://www.youtube.com/embed/jtJ-T0l9XUQ" frameborder="0" allowfullscreen></iframe>
        </div>
</div>
<body id="course-calendar">
  <div class="ui modal" id="course-date">
    <i class="close icon"></i>
    <div class="header">
      Hora de comienzo de clases
    </div>
    <div class="image content">
      <div class="row">
        <div class="eight wide computer">
          Hora de inicio
          <div class="description">
            <div class="ui selection dropdown">
              <input type="hidden" name="gender" value="08:00:00" class="start_value">
              <i class="dropdown icon"></i>
              <div class="default text start">9:00</div>
              <div class="menu start">
              </div>
            </div>
          </div>
        </div>
        <div class="eight wide computer">
          Duración
          <div class="description">
            <div class="ui selection dropdown">
              <input type="hidden" name="gender" value="45" class="end_value">
              <i class="dropdown icon"></i>
              <div class="default text end">45 minutos</div>
              <div class="menu end">
                <div class="item active selected" data-value="45">45 minutos</div>
                <div class="item " data-value="90">90 minutos</div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="actions">
      <div class="ui button cancel-button">Cancelar</div>
      <div class="ui button start-time">OK</div>
    </div>
  </div>
  <div class="ui modal" id="tutorial">
  <div class="header">
    Tutorial
    <i class="close icon" style="float:right;"></i>
  </div>
        <div class="content" style="text-align: center;" style="width: 100%; height: auto;">
        <iframe align="middle" width="688" height="387" src="https://www.youtube.com/embed/jtJ-T0l9XUQ" frameborder="0" allowfullscreen></iframe>
        </div>
</div>
<!--   <div id="side-nav" class="ui sidebar inverted vertical menu">
    <img src="../dist/img/just-logo.png" alt="" id="logo">
    <a href="courses.html" class="item">
      <i class="student icon"></i>
      Cursos
    </a>
    <a href="schedule.html" id="beta-menu" class="item">
      <i class="calendar icon"></i>
      Calendario
    </a>
    <a href="courses-adm.html" class="item">
      <i class="cubes icon"></i>
      Administración de Cursos
    </a>
    <a href="profile.html" class="item">
      <i class="child icon"></i>
      Perfil
    </a>
    <a href="javascript:;" class="item tutorial">
      <i class="video play outline icon"></i>
      Tutorial
    </a>
    <a href="javascript:;" class="item logout">
      <i class="power icon"></i>
      Cerrar sesión
    </a>
  </div> -->
  <div class="pusher">
    <!-- Site content !-->
    <div id="nav" class="ui top attached menu">
<!--       <div class="ui dropdown icon item">
        <i class="sidebar icon"></i>
        <p style="color:white; display: inline;">&nbsp;&nbsp;&nbsp;Menú</p>
      </div> -->
      <div class="dropdown floating labeled ui icon alerts" tabindex="0" style="display: none;">
        <i class="alarm outline icon"></i>
        <div class="menu">
          <div class="scrolling menu">
          </div>
        </div>
      </div>
      <img src="../dist/img/text-logo.png" alt="" id="text-logo">
    </div>
    <div class="ui grid">
      <div class="fourteen wide computer sixteen wide tablet column centered segment-content">
        <div class="ui segment">
          <h2 class="ui dividing header">
            Selecciona tu horario
          </h2>
          <div class="ui grid">
            <div class="three wide computer five wide tablet column">
              <h3 id="subject-name"></h3>
              <!--<button class="ui button add-class"><i class="plus icon"></i> Añadir clase</button>-->
              <!--<div class="ui fluid search normal selection dropdown">
                <input type="hidden" name="country">
                <i class="dropdown icon"></i>
                <div class="default text">Selecciona el color <img class="colorpicker" src="../dist/img/colorpicker.png" alt=""></div>
                  <div class="menu">
                  <div class="item class-color" data-color="#39cd6b"><i class="color-label green-label"></i> Verde</div>
                  <div class="item class-color" data-color="#ef5361"><i class="color-label red-label"></i> Rojo</div>
                  <div class="item class-color" data-color="#fed048"><i class="color-label yellow-label"></i> Amarillo</div>
                </div>
              </div>-->
              <small class="text-center" style="text-align: left;">Selecciona el color de la asignatura y luego haz click en el calendario donde quieres ubicar tu clase</small>
              <div class="added-blocks">
                <!--<div class="ui button added-item" data-current-color="orange" data-hex="" data-title="Clase de Historia" >Asignatura</div><br><br>-->
                <img data-html="<div class='header'>Selecciona el color</div><div class='content'><div class='class-color color c1' data-color='#fb7e4b'></div><div class='class-color color c2' data-color='#97d662'></div><div class='class-color color c3' data-color='#599bf0'></div><div class='class-color color c4' data-color='#fcb248'></div><div class='class-color color c5' data-color='#39cd6b'></div><div class='class-color color c6' data-color='#9296ef'></div><div class='class-color color c7' data-color='#ef5361'></div><div class='class-color color c8' data-color='#fed048'></div><div class='class-color color c9' data-color='#3ecfc0'></div><div class='class-color color c10' data-color='#3ecfc0'></div><div class='class-color color c11' data-color='#c2d461'></div><div class='class-color color c12' data-color='#47c3e9'></div></div>" class="colorpicker" src="../dist/img/colorpicker.png" alt="" style="margin-top: -4px;position: relative; margin-left:38%;">
              </div>

              <a href="javascript:;" id="go-to-units" class="ui button save-calendar" style="width: 100%;background-color:#38c2c8 !important">Guardar Horario</a>
            </div>
            <div class="thirteen wide computer eleven wide tablet column">
              <div id="fullcalendar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="../bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
  <script src="../bower_components/semantic/dist/semantic.js"></script>
  <script src="../bower_components/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../bower_components/moment/moment.js"></script>
  <script src="../bower_components/fullcalendar/dist/fullcalendar.js"></script>
  <script src="../bower_components/fullcalendar/dist/lang/es.js"></script>
  <script src="scripts/ui.js"></script>
</body>
</html>
