<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Poptimize - Programación de asignatura</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="../bower_components/semantic/dist/semantic.css">
  <link rel="stylesheet" href="../bower_components/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="../bower_components/fullcalendar/dist/fullcalendar.css">
  <!--<link rel="stylesheet" href="../bower_components/fullcalendar/dist/fullcalendar.print.css">-->
  <link rel="stylesheet" href="../bower_components/jquery-ui/themes/base/jquery-ui.css">
  <!--<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">-->
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
  <link rel="stylesheet" href="styles/jquery.timepicker.css">
  <link rel="stylesheet" href="../dist/css/main.css">
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="scripts/jquery.timepicker.js"></script>
  <link rel="stylesheet" href="../bower_components/feedback_me/css/jquery.feedback_me.css">
  <script src="../bower_components/feedback_me/js/jquery.feedback_me.js"></script>
  <script src="scripts/jspdf.min.js"></script>
  <script src="scripts/html2canvas.min.js"></script>
  <script src="scripts/addimage.js"></script>
  <script src="../bower_components/js-cookie/src/js.cookie.js"></script>
  <script src="scripts/config.js"></script>
  <script>
  var extension = is_local ? '.html' : '';
  if(!Cookies.get('loggedAs')){
    window.location = '/login'+extension;
  }
  </script>
  <style>
  @media print {
    body, html, #course-calendar {
     width: 100%;
    }
   div {
     overflow: visible !important;
    }
  }
  
  .fc-event{
    cursor: pointer;
  }
  .fc-event.holi{
    cursor: default;
  }
  .fc-day-grid-event > .fc-content > .fc-title {
    white-space: normal;
  }

  .conme > .fc-content > .fc-time {
    display: none;
  }
  .holi > .fc-content > .fc-time {
    display: none;
  }
  .fc-day-grid-container.fc-scroller {
    height: auto!important;
    overflow-y: auto;
  }

  </style>
  <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '1813674115623238'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=1813674115623238&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
  <!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//poptimize.cl:8080/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//poptimize.cl:8080/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</head>

<body id="events-calendar">
<div class="ui modal" id="tutorial">
  <div class="header">
    Tutorial
    <i class="close icon" style="float:right;"></i>
  </div>
        <div class="content" style="text-align: center;" style="width: 100%; height: auto;">
        <iframe align="middle" width="688" height="387" src="https://www.youtube.com/embed/jtJ-T0l9XUQ" frameborder="0" allowfullscreen></iframe>
        </div>
</div>
  <div class="ui modal" id="no-plan">
  <div class="content">
      <img src="dist/img/warn-logo.png" class="ui image small centered" alt="" style="width:95px; height: auto;">
      <br>
      <p style="text-align: center; font-size: 18px; margin-top: 10px;">No existen planificaciones para esta fecha.</p>
    </div>
    <div class="actions">
      <div class="ui positive button">
      Continuar
      </div>
    </div>
  </div>

<div class="ui modal" id="conme-modal">
    <i class="close icon"></i>
    <div class="header">
      Efemérides
    </div>
  <div class="content" id="conme-content">

    </div>
  </div>




  <div class="ui modal event-modal">
    <i class="close icon"></i>
    <div class="header">
      ¿Qué haré este día?
    </div>
    <div class="image content">
      <div class="image">
        Recordatorio
        <!--<div class="ui floating dropdown labeled search icon button">
          <i class="alarm outline icon"></i>
          <span class="text">Notificar </span>
          <div class="menu">
            <div class="item">Un día antes</div>
            <div class="item">Dos días antes</div>
            <div class="item">Tres días antes</div>
          </div>
        </div>
        <br><br>
        <p>O si prefieres puedes indicar la fecha:</p>-->
        <div class="ui input">
          <input type="text" class="datepicker">
          <input type="text" class="timepicker2">
        </div>
      </div>
      <div class="description">
        <div class="ui form">
          <div class="field">
            <label>Nombre</label>
            <input type="text" id="event-name">
          </div>
        </div>
        <div class="ui form">
          <div class="field">
            <label>Descripción</label>
            <textarea style="width:100%;" id="alert-text1"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui button cancel-button">Cancelar</div>
      <div class="ui button event-save">OK</div>
    </div>
  </div>

  <div class="ui modal plan-modal">
    <i class="close icon"></i>
    <div class="header">
      ¿Qué deseas imprimir?
    </div>
    <div class="image content">
      <div class="field">
        <div class="ui radio checkbox">
        <input type="radio" name="imp" tabindex="0" value="0">
      <label>&nbsp;Fecha: &nbsp;</label>  
      </div>
        <div class="ui input">
          <input type="text" class="datepicker" id="fecha1">
        </div>
      </div>
    </div>
    <div class="image content">
      <div class="field">
        <div class="ui radio checkbox">
        <input type="radio" name="imp" tabindex="1" value="1">
      <label>&nbsp;Mes: &nbsp;</label> 
      </div>
        <div class="ui input">
          <div class="ui selection dropdown" id="monthsel">
            <input type="hidden" name="mes">
            <i class="dropdown icon"></i>
            <div class="default text">Mes</div>
            <div class="menu">
              <div class="item" data-value="Enero">Enero</div>
              <div class="item" data-value="Febrero">Febrero</div>
              <div class="item" data-value="Marzo">Marzo</div>
              <div class="item" data-value="Abril">Abril</div>
              <div class="item" data-value="Mayo">Mayo</div>
              <div class="item" data-value="Junio">Junio</div>
              <div class="item" data-value="Julio">Julio</div>
              <div class="item" data-value="Agosto">Agosto</div>
              <div class="item" data-value="Septiembre">Septiembre</div>
              <div class="item" data-value="Octubre">Octubre</div>
              <div class="item" data-value="Noviembre">Noviembre</div>
              <div class="item" data-value="Diciembre">Diciembre</div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--     <div class="image content">
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="imp" tabindex="2" value="2">
        <label>&nbsp;Todo&nbsp;</label>  
        </div>
      </div>
    </div> -->
    <div class="actions">
      <div class="ui button cancel-button">Cancelar</div>
      <div class="ui button green plan-print">OK</div>
    </div>
  </div>

  <div class="ui modal large class-modal">
    <i class="close icon"></i>
    <div class="header">
      ¿Qué haré en esta clase?
    </div>
    <div class="ui form image content" style="padding-bottom: 0;">
      <div class="field check-container">
        <div class="inline fields">
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="class-type" value="0">
        <label>Clase&nbsp;&nbsp;<i class="book icon"></i></label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="class-type" value="1">
        <label>Prueba&nbsp;&nbsp;<i class='file powerpoint outline icon'></i></label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="class-type" value="2">
        <label>Actividad/Trabajo&nbsp;&nbsp;<i class="users icon"></i></label>
      </div>
    </div>
  </div>
      </div>
    </div>
    <div class="image content" style="height: 400px;">
<!--       <div class="image">
        Puedes indicar la fecha y hora para que te recordemos esta clase.
        <br><br>
        <div class="ui floating dropdown labeled search icon button">
          <i class="alarm outline icon"></i>
          <span class="text">Notificar </span>
          <div class="menu">
            <div class="item">Un día antes</div>
            <div class="item">Dos días antes</div>
            <div class="item">Tres días antes</div>
          </div>
        </div>
        <br><br>
        <p>O si prefieres puedes indicar la fecha:</p>
        <div class="ui input">
          <input type="text" class="datepicker"> // DATEPICKER DE RECORDATORIO

        </div>
        <br><br>
        <div class="ui input">
          <input type="text" class="timepicker2"> // TIMEPICKER DE RECORDATORIO
        </div>
      </div> -->
      <div class="description">
        <form class="ui form" enctype="multipart/form-data" id="addon">
          <div class="field check-container">
            <div class="ui top attached tabular menu">
              <a class="active item first" data-tab="first">Objetivos</a>
              <a class="item second" data-tab="second">Palabras claves</a>
              <a class="item third" data-tab="third">Habilidades</a>
              <a class="item fourth" data-tab="fourth">Actitudes</a>
              <a class="item fifth" data-tab="fifth">Detalle de la Clase</a>
              <a class="item sixth" data-tab="sixth">Secuencia Didáctica</a>
              <a class="item seventh" data-tab="seventh">Recordatorio</a>
            </div>
            <div class="ui bottom attached active tab segment" data-tab="first" style="height: 200px; overflow-y: auto;">
              <div class="le_first"></div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="second" style="height: 200px; overflow-y: auto;">
              <div class="le_two"></div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="third" style="height: 200px; overflow-y: auto;">
              <div class="le_three"></div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="fourth" style="height: 200px; overflow-y: auto;">
              <div class="le_four"></div>
            </div>
            <div class="ui bottom attached tab segment middle aligned" data-tab="fifth" style="height: 200px; overflow-y: auto;">
              <div class="field">
                <label>Detalle de la Clase</label>
                <textarea style="height: 145px;" id="alert-text2"></textarea>
              </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="sixth" style="height: 200px; overflow-y: auto;">
              <div class="le_five">
                <div class="field">
                  <label>Inicio</label>
                  <textarea style="width:100%;" id="init-text"></textarea>
                </div>                  
                <div class="field">
                  <label>Desarrollo</label>
                  <textarea style="width:100%;" id="mid-text"></textarea>
                </div>
                <div class="field">
                  <label>Cierre</label>
                  <textarea style="width:100%;" id="end-text"></textarea>
                </div>
                <div class="field">
                  <label>Recursos de Aprendizaje</label>
                  <textarea style="width:100%;" id="res-text"></textarea>
                </div>
                <div class="field">
                  <label>Evaluación</label>
                  <textarea style="width:100%;" id="eval-text"></textarea>
                </div>
                <div class="field">
                  <label>Adecuación Curricular</label>
                  <textarea style="width:100%;" id="ec-text"></textarea>
                </div>
              </div>
            </div>
            <div class="ui bottom attached tab segment middle aligned" data-tab="seventh" style="height: 200px; overflow-y: auto;">
            <p>Puedes indicar la fecha y hora para que te recordemos esta clase.</p>
            <div class="middle aligned ui grid">
              <div class="row">
                <div class="seven wide centered column">
                  <div class="ui labeled input">
                    <div class="ui label">
                      Fecha
                    </div>
                    <input type="text" class="datepicker classdate">
                  </div>    
                </div>
                <div class="seven wide centered column">
                  <div class="ui labeled input">
                    <div class="ui label">
                      Hora
                    </div>
                    <input type="text" class="timepicker2 classtime">
                  </div>    
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="field attached">
            <label>Archivos &nbsp;(Máximo un archivo de 5MB)</label>
            <p class="text"></p>
            <ul></ul>
          </div>
          <div class="field">
            <label>Adjuntar archivo</label>
            <input type="file" name="file" id="file2">
            <input type="hidden" id="le_value" name="le_value">
          </div>
        </form>
      </div>
    </div>
    <div class="actions">
      <div class="ui button cancel-button">Cancelar</div>
      <div class="ui button save-class-events">Guardar</div>
    </div>
  </div>

  <div id="side-nav" class="ui sidebar inverted vertical menu">
    <img src="../dist/img/just-logo.png" alt="" id="logo">
    <a href="courses.html" class="item">
      <i class="student icon"></i>
      Cursos
    </a>
    <a href="schedule.html" id="beta-menu" class="item">
      <i class="calendar icon"></i>
      Calendario
    </a>
    <a href="courses-adm.html" class="item">
      <i class="cubes icon"></i>
      Administración de Cursos
    </a>
    <a href="profile.html" class="item">
      <i class="child icon"></i>
      Perfil
    </a>
    <a href="javascript:;" class="item tutorial">
      <i class="video play outline icon"></i>
      Tutorial
    </a>
    <a href="javascript:;" class="item logout">
      <i class="power icon"></i>
      Cerrar sesión
    </a>
  </div>
  <div class="pusher">
    <!-- Site content !-->
    <div id="nav" class="ui top attached menu">
      <div class="ui dropdown icon item">
        <i class="sidebar icon"></i>
        <p style="color:white; display: inline;">&nbsp;&nbsp;&nbsp;Menú</p>
      </div>
      <div class="dropdown floating labeled ui icon alerts" tabindex="0" style="display: none;">
        <i class="alarm outline icon"></i>
        <div class="menu">
          <div class="scrolling menu">
          </div>
        </div>
      </div>
      <img src="../dist/img/text-logo.png" alt="" id="text-logo">
    </div>
    <div class="ui grid">
      <div class="fourteen wide computer sixteen wide tablet column centered segment-content">
        <div class="ui segment">
          <h2 class="ui dividing header">
            Programación de la asignatura
          </h2>
          <ul>
            <li>Selecciona la unidad que estás trabajando para ver los objetivos de aprendizaje y arrastrarlos a tus clases.</li>
            <li>Planifica tus clases haciendo click sobre el bloque de la asignatura y detalla las actividades que quieras realizar. </li>
          </ul>
<div class="ui labeled button" tabindex="0" style="float:right;" id="test1">
        <div class="ui teal button">
          <i class="print icon"></i>
        </div>
        <a class="ui basic teal left pointing label" style="background-color: #38c2c8;" href="javascript:;">
        Imprimir planificación
        </a>
      </div>
      <br>
      <br>
      <br>
          <div class="ui two column grid">
            <div class="row">
              <div class="three wide computer five wide tablet column" style="max-width: 221px;">
              <div id="navigation">
              <div class="ui selection dropdown" id="unitssel">
                <input type="hidden" name="unit-dropdown">
                <i class="dropdown icon"></i>
                <div class="default text">Unidad</div>
                <div class="menu unit-dropdown">
                </div>
              </div>
                <h3 id="subject-name"></h3>
                <div class="added-blocks">

                </div>

                <div id="go-to-start" class="ui button save-calendar" style="background-color:#38c2c8 !important">Guardar programación</div>
                </div>
              </div>
              <div class="thirteen wide computer eleven wide tablet column">
                <div id="fullcalendar-events" style="z-index: 1;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../bower_components/jscolor/jscolor.js"></script>

  <script src="../bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="../bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
  <script src="../bower_components/semantic/dist/semantic.js"></script>
  <script src="../bower_components/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../bower_components/moment/moment.js"></script>
  <script src="scripts/moment-daysoftheweek-plus.js"></script>
  <script src="../bower_components/fullcalendar/dist/fullcalendar.js"></script>
  <script src="../bower_components/fullcalendar/dist/lang/es.js"></script>
  <script src="../bower_components/quill/dist/quill.js"></script>
  <script src="scripts/ui.js?01010101"></script>
</body>
</html>
