<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Poptimize - Perfil</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="../bower_components/semantic/dist/semantic.css">
  <link rel="stylesheet" href="../bower_components/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="../bower_components/jquery-ui/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="../dist/css/main.css">
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <link rel="stylesheet" href="../bower_components/feedback_me/css/jquery.feedback_me.css">
  <script src="../bower_components/feedback_me/js/jquery.feedback_me.js"></script>
  <script src="../bower_components/js-cookie/src/js.cookie.js"></script>
  <script src="scripts/config.js"></script>
  <script>
  var extension = is_local ? '.html' : '';
  if(!Cookies.get('loggedAs')){
    window.location = '/login'+extension;
  }
  </script>
  <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '1813674115623238'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=1813674115623238&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
  <!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//poptimize.cl:8080/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//poptimize.cl:8080/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</head>
<body id="profile">
<div class="ui modal" id="tutorial">
  <div class="header">
    Tutorial
    <i class="close icon" style="float:right;"></i>
  </div>
        <div class="content" style="text-align: center;" style="width: 100%; height: auto;">
        <iframe align="middle" width="688" height="387" src="https://www.youtube.com/embed/jtJ-T0l9XUQ" frameborder="0" allowfullscreen></iframe>
        </div>
</div>
  <div id="side-nav" class="ui sidebar inverted vertical menu">
    <img src="../dist/img/just-logo.png" alt="" id="logo">
    <a href="courses.html" class="item">
      <i class="student icon"></i>
      Cursos
    </a>
    <a href="schedule.html" id="beta-menu" class="item">
      <i class="browser icon"></i>
      Calendario
    </a>
    <a href="courses-adm.html" class="item">
      <i class="cubes icon"></i>
      Administración de Cursos
    </a>
    <a href="profile.html" class="item">
      <i class="child icon"></i>
      Perfil
    </a>
    <a href="javascript:;" class="item tutorial">
      <i class="video play outline icon"></i>
      Tutorial
    </a>
    <a href="javascript:;" class="item logout">
      <i class="power icon"></i>
      Cerrar sesión
    </a>
  </div>
  <div class="pusher">
    <!-- Site content !-->
    <div id="nav" class="ui top attached menu">
      <div class="ui dropdown icon item">
        <i class="sidebar icon"></i>
        <p style="color:white; display: inline;">&nbsp;&nbsp;&nbsp;Menú</p>
      </div>
      <div class="dropdown floating labeled ui icon alerts" tabindex="0" style="display: none;">
        <i class="alarm outline icon"></i>
        <div class="menu">
          <div class="scrolling menu">
          </div>
        </div>
      </div>
      <img src="../dist/img/text-logo.png" alt="" id="text-logo">
    </div>
    <div class="ui grid">
      <div class="segment-content ten wide column centered">
        <div class="ui segment">
          <div class="ui grid">
            <div class="five wide column user-avatar text-center">
              <h2>Perfil</h2>
              <img src="" alt="" class="avatar">
              <a href="javascript:;" class="ui button update-photo">Actualizar foto</a>
              <form action="" id="file-form" class="hide">
                <input type="file" id="image" name="image">
              </form>
              <h3>Usuario Demo</h3>
              <a href="javascript:;" class="email">demo@demo.com</a>
            </div>
            <div class="eleven wide column">
              <div class="ui top attached tabular menu" id="edit-data" toolbar-tip="{content: '#toolbar-options', position: 'top'}">
        				<a class="active item" data-tab="first">Datos Personales</a>
        				<a class="item" data-tab="second">Datos Profesionales</a>
        				<a href="javascript:;" class="ui primary button edit-data-form">Guardar datos</a>
        			</div>
              <div class="ui bottom attached active tab segment" data-tab="first">
        				<table class="ui celled table">
        				  <tbody>
        				    <tr>
        				      <td><label class="float-left">Nombre</label></td>
        				      <td class="name"><span contenteditable="true">Demo</span></td>
        				    </tr>
        				    <tr>
        				      <td><label class="float-left">Usuario</label></td>
        				      <td class="username"><span contenteditable="false">demo</span></td>
        				    </tr>
        				    <tr>
        				      <td><label class="float-left">E-mail</label></td>
        				      <td class="email"><span contenteditable="true">demo@demo.com</span></td>
        				    </tr>
        						<tr>
        				      <td><label class="float-left">Contraseña</label></td>
        				      <td class="password"><span contenteditable="true" class="pass-editable">*************</span></td>
        				    </tr>
        						<tr>
        				      <td><label class="float-left">Fecha de Nacimiento (dd/mm/aaaa)</label></td>
        				      <td class="birth_date"><span contenteditable="true">10/06/2016</span><input type='hidden' class='datepicker' /></td>
        				    </tr>
        						<tr>
        				      <td><label class="float-left">Teléfono</label></td>
        				      <td class="phone"><span contenteditable="true">90885557</span></td>
        				    </tr>
        				  </tbody>
        				</table>
        			</div>
              <div class="ui bottom attached tab segment" data-tab="second">
        				<table class="ui celled table">
        				  <tbody>
        				    <tr>
        				      <td><label class="float-left">Profesión</label></td>
        				      <td class="profession"><span contenteditable="true">Demo</span></td>
        				    </tr>
        				    <tr>
        				      <td><label class="float-left">Especialidad/Mención</label></td>
        				      <td class="specialty"><span contenteditable="true">Demo</span></td>
        				    </tr>
        				    <tr>
        				      <td><label class="float-left">Años de experiencia</label></td>
        				      <td class="years_experience"><span contenteditable="true">1</span></td>
        				    </tr>
        						<tr>
        				      <td><label class="float-left">Asociado al colegio</label></td>
        				      <td class="asociated"></td>
        				    </tr>
                    <tr>
                      <td><label class="float-left">Fecha de Inicio de Clases (dd/mm/aaaa)</label></td>
                      <td class="init_date"><span contenteditable="true">10/06/2016</span><input type='hidden' class='datepicker' /></td>
                    </tr>
                    <tr>
                      <td><label class="float-left">Fecha de Termino de Clases (dd/mm/aaaa)</label></td>
                      <td class="end_date"><span contenteditable="true">10/06/2016</span><input type='hidden' class='datepicker' /></td>
                    </tr>
        				  </tbody>
        				</table>
        			</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../bower_components/semantic/dist/semantic.js"></script>
  <script src="../bower_components/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="scripts/ui.js"></script>
</body>
</html>
