<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Poptimize - Planificación</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="../bower_components/semantic/dist/semantic.css">
  <link rel="stylesheet" href="../bower_components/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="../bower_components/fullcalendar/dist/fullcalendar.css">
  <link rel="stylesheet" href="../dist/css/main.css?0101010">
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <link rel="stylesheet" href="../bower_components/feedback_me/css/jquery.feedback_me.css">
  <script src="../bower_components/feedback_me/js/jquery.feedback_me.js"></script>
  <script src="scripts/jspdf.min.js"></script>
  <script src="scripts/html2canvas.min.js"></script>
  <script src="scripts/addimage.js"></script>
  <script src="../bower_components/js-cookie/src/js.cookie.js"></script>
  <script src="scripts/config.js"></script>
  <script>
  var extension = is_local ? '.html' : '';
  if(!Cookies.get('loggedAs')){
    window.location = '/login'+extension;
  }
  </script>
  <style>
  @media print {
      body * {
        visibility: hidden;
      }
      #schedule, #schedule * {
        visibility: visible;
      }
      #schedule {
        position: absolute;
        left: 0;
        top: -150px;
      }
    }
  .fc-v-event{
    cursor: pointer;
  }

  .titleno{
    font-size: 1.2rem; 
    margin: 0 0 0 0;
  }
  .textno{
    font-size: 1.1rem;
    margin: 0 0 0 0;
  }
  .conme .fc-time{
     display: none;
  }
  .holi .fc-time{
     display: none;
  }
  </style>
  <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '1813674115623238'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=1813674115623238&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
  <!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//poptimize.cl:8080/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//poptimize.cl:8080/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</head>
<body id="schedule-body">
<div class="ui modal" id="tutorial">
  <div class="header">
    Tutorial
    <i class="close icon" style="float:right;"></i>
  </div>
        <div class="content" style="text-align: center;" style="width: 100%; height: auto;">
        <iframe align="middle" width="688" height="387" src="https://www.youtube.com/embed/jtJ-T0l9XUQ" frameborder="0" allowfullscreen></iframe>
        </div>
</div>
<div class="ui modal" id="conme-modal">
    <i class="close icon"></i>
    <div class="header">
      Efemérides
    </div>
  <div class="content" id="conme-content">

    </div>
  </div>

<div class="ui modal plan-modal">
    <i class="close icon"></i>
    <div class="header">
      ¿Qué deseas imprimir?
    </div>
    <div class="image content">
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="imp" tabindex="2" value="2">
        <label>&nbsp; Clases y eventos de la semana actual&nbsp;</label>  
        </div>
      </div>
    </div>
        <div class="image content">
      <div class="field">
        <div class="ui radio checkbox">
        <input type="radio" name="imp" tabindex="1" value="1">
      <label>&nbsp;Mes: &nbsp;</label> 
      </div>
        <div class="ui input">
          <div class="ui selection dropdown" id="monthsel">
            <input type="hidden" name="mes">
            <i class="dropdown icon"></i>
            <div class="default text">Mes</div>
            <div class="menu">
              <div class="item" data-value="Enero">Enero</div>
              <div class="item" data-value="Febrero">Febrero</div>
              <div class="item" data-value="Marzo">Marzo</div>
              <div class="item" data-value="Abril">Abril</div>
              <div class="item" data-value="Mayo">Mayo</div>
              <div class="item" data-value="Junio">Junio</div>
              <div class="item" data-value="Julio">Julio</div>
              <div class="item" data-value="Agosto">Agosto</div>
              <div class="item" data-value="Septiembre">Septiembre</div>
              <div class="item" data-value="Octubre">Octubre</div>
              <div class="item" data-value="Noviembre">Noviembre</div>
              <div class="item" data-value="Diciembre">Diciembre</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui button cancel-button">Cancelar</div>
      <div class="ui button green plan-print-sch">OK</div>
    </div>
  </div>

  <div class="ui modal event-detail">
    <i class="close icon"></i>
    <div class="header">
      Planificación de la Clase
    </div>
    <div class="content" id="detail-class" style="height: 500px; overflow-y: scroll;" >

    </div>

  </div>

  <div id="side-nav" class="ui sidebar inverted vertical menu">
    <img src="../dist/img/just-logo.png" alt="" id="logo">
    <a href="courses.html" class="item">
      <i class="student icon"></i>
      Cursos
    </a>
    <a href="schedule.html" id="beta-menu" class="item">
      <i class="browser icon"></i>
      Calendario
    </a>
    <a href="courses-adm.html" class="item">
      <i class="cubes icon"></i>
      Administración de Cursos
    </a>
    <a href="profile.html" class="item">
      <i class="child icon"></i>
      Perfil
    </a>
    <a href="javascript:;" class="item tutorial">
      <i class="video play outline icon"></i>
      Tutorial
    </a>
    <a href="javascript:;" class="item logout">
      <i class="power icon"></i>
      Cerrar sesión
    </a>
  </div>
  <div class="pusher">
    <!-- Site content !-->
    <div id="nav" class="ui top attached menu">
      <div class="ui dropdown icon item">
        <i class="sidebar icon"></i>
        <p style="color:white; display: inline;">&nbsp;&nbsp;&nbsp;Menú</p>
      </div>
      <div class="dropdown floating labeled ui icon alerts" tabindex="0" style="display: none;">
        <i class="alarm outline icon"></i>
        <div class="menu">
          <div class="scrolling menu">
          </div>
        </div>
      </div>
      <img src="../dist/img/text-logo.png" alt="" id="text-logo">
    </div>
    <div class="ui grid">
      <div class="twelve wide computer sixteen wide tablet column centered segment-content">
        <div class="ui segment">
          <h2 class="ui dividing header" style="padding-bottom: 30px;">
            Calendario
            <div class="ui labeled button" tabindex="0" style="float: right; display: none;">
              <div class="ui red button">
                <i class="print icon"></i>
              </div>
              <a class="ui basic red left pointing label le-printt" href="javascript:;" target="_blank">
                Imprimir calendario
              </a>
            </div>
            <div class="ui labeled button" tabindex="0" style="float: right;" >
              <div class="ui red button">
                <i class="print icon"></i>
              </div>
              <a class="ui basic red left pointing label le-print" href="javascript:;" target="_blank">
                Imprimir detalle
              </a>
            </div>

          </h2>

          <div class="ui grid">
            <div class="sixteen wide computer sixteen wide tablet column">
            <ul style="margin-top: 0px; margin-bottom: 15px;">
              <li>Visualiza todas tus clases de la semana.</li>
              <li>Para ver el detalle de cada clase haz click sobre el bloque de la asignatura.</li>
              <li>Presiona el botón imprimir detalle para descargar e imprimir  tus clases de la semana.</li>
            </ul>
              <div id="schedule"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="../bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
  <script src="../bower_components/semantic/dist/semantic.js"></script>
  <script src="../bower_components/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../bower_components/moment/moment.js"></script>
  <script src="../bower_components/fullcalendar/dist/fullcalendar.js"></script>
  <script src="../bower_components/fullcalendar/dist/lang/es.js"></script>
  <script src="scripts/ui.js"></script>
</body>
</html>
