<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Poptimize - Planificación</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="../bower_components/semantic/dist/semantic.css">
  <link rel="stylesheet" href="../bower_components/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="../bower_components/fullcalendar/dist/fullcalendar.css">
  <link rel="stylesheet" href="../dist/css/main.css">
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <link rel="stylesheet" href="../bower_components/feedback_me/css/jquery.feedback_me.css">
  <script src="../bower_components/feedback_me/js/jquery.feedback_me.js"></script>
  <script src="../bower_components/js-cookie/src/js.cookie.js"></script>
  <script src="scripts/config.js"></script>
  <script>
  var extension = is_local ? '.html' : '';
  if(!Cookies.get('loggedAs')){
    window.location = '/login'+extension;
  }
  </script>
  <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '1813674115623238'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=1813674115623238&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
</head>
<body id="week-schedule-body">
<div class="ui modal" id="tutorial">
  <div class="header">
    Tutorial
    <i class="close icon" style="float:right;"></i>
  </div>
        <div class="content" style="text-align: center;" style="width: 100%; height: auto;">
        <iframe align="middle" width="688" height="387" src="https://www.youtube.com/embed/jtJ-T0l9XUQ" frameborder="0" allowfullscreen></iframe>
        </div>
</div>

  <div class="ui modal event-detail">
    <i class="close icon"></i>
    <div class="header">
      Añadir curso
    </div>
    <div class="content">
      <div class="ui grid">
        <div class="sixteen wide column">
          <div class="ui top attached tabular menu">
            <a class="active item" data-tab="first">Clase</a>
            <a class="item" data-tab="second">Evento</a>
          </div>
          <div class="ui bottom attached active tab segment" data-tab="first">
            <h2>¿Qué haré en esta clase?</h2>
            <p>Unidad I: Propósito</p>
            <div class="ui grid">
              <div class="eight wide column">
                <div class="ui form">
                  <div class="inline field">
                    <div class="ui checkbox">
                      <input type="checkbox" tabindex="0" class="hidden">
                      <label>OA 1</label>
                    </div>
                  </div>
                  <div class="inline field">
                    <div class="ui checkbox">
                      <input type="checkbox" tabindex="0" class="hidden">
                      <label>OA 2</label>
                    </div>
                  </div>
                  <div class="inline field">
                    <div class="ui checkbox">
                      <input type="checkbox" tabindex="0" class="hidden">
                      <label>OA 3</label>
                    </div>
                  </div>
                  <div class="inline field">
                    <div class="ui checkbox">
                      <input type="checkbox" tabindex="0" class="hidden">
                      <label>OA 4</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui vertical divider">-</div>
              <div class="eight wide column">
                <div class="ui form">

                  <div class="inline field">
                    <div class="ui checkbox">
                      <input type="checkbox" tabindex="0" class="hidden">
                      <label>Suma</label>
                    </div>
                  </div>
                  <div class="inline field">
                    <div class="ui checkbox">
                      <input type="checkbox" tabindex="0" class="hidden">
                      <label>Resta</label>
                    </div>
                  </div>
                  <div class="inline field">
                    <div class="ui checkbox">
                      <input type="checkbox" tabindex="0" class="hidden">
                      <label>Multiplicación</label>
                    </div>
                  </div>
                  <div class="inline field">
                    <div class="ui checkbox">
                      <input type="checkbox" tabindex="0" class="hidden">
                      <label>División</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui bottom attached tab segment" data-tab="second">
            <h2>Notificar</h2>
            <p>Tipo:</p>
            <div class="ui form">
              <div class="fields">
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label>Evaluación</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label>Actividad</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label>Tarea</label>
                  </div>
                </div>
              </div>
            </div>
            <h2>Descripción</h2>
            <div class="ui form">
              <div class="field">
                <textarea></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <button class="ui button cancel-button">Cancelar</button>
      <button class="ui button ok-button">Guardar</button>
    </div>
  </div>

  <div id="side-nav" class="ui sidebar inverted vertical menu">
    <img src="../dist/img/just-logo.png" alt="" id="logo">
    <a href="courses.html" class="item">
      <i class="student icon"></i>
      Cursos
    </a>
    <a href="schedule.html" id="beta-menu" class="item">
      <i class="calendar icon"></i>
      Calendario
    </a>
    <a href="courses-adm.html" class="item">
      <i class="cubes icon"></i>
      Administración de Cursos
    </a>
    <a href="profile.html" class="item">
      <i class="child icon"></i>
      Perfil
    </a>
    <a href="javascript:;" class="item tutorial">
      <i class="video play outline icon"></i>
      Tutorial
    </a>
    <a href="javascript:;" class="item logout">
      <i class="power icon"></i>
      Cerrar sesión
    </a>
  </div>
  <div class="pusher">
    <!-- Site content !-->
    <div id="nav" class="ui top attached menu">
      <div class="ui dropdown icon item">
        <i class="sidebar icon"></i>
        <p style="color:white; display: inline;">&nbsp;&nbsp;&nbsp;Menú</p>
      </div>
      <div class="dropdown floating labeled ui icon alerts" tabindex="0" style="display: none;">
        <i class="alarm outline icon"></i>
        <div class="menu">
          <div class="scrolling menu">
          </div>
        </div>
      </div>
      <img src="../dist/img/text-logo.png" alt="" id="text-logo">
    </div>
    <div class="ui grid">
      <div class="twelve wide computer sixteen wide tablet column centered segment-content">
        <div class="ui segment">
          <h2 class="ui dividing header">
            Horario
          </h2>
          <div class="ui grid">
            <div class="sixteen wide computer sixteen wide tablet column">
              <div id="schedule"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="../bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
  <script src="../bower_components/semantic/dist/semantic.js"></script>
  <script src="../bower_components/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../bower_components/moment/moment.js"></script>
  <script src="../bower_components/fullcalendar/dist/fullcalendar.js"></script>
  <script src="../bower_components/fullcalendar/dist/lang/es.js"></script>
  <script src="scripts/ui.js"></script>
</body>
</html>
