$font-stack:    Helvetica, sans-serif;
$primary-color: #38c2c8;
$primary-darker: #35afaf;
$gray-background: #dedee2;
$white-text: #fefefe;
$yellow: #fed048;
$red: #ef5361;
$green: #39cd6b;
$orange: #fcb249;
$blue: #599bf0;

body {
  background: $gray-background;
}

.column {
  margin-left: -2px;
}

.hide {
  display: none !important;
}

.right-align {
  float: right !important;
}

body.pushable > .pusher {
  background: $gray-background;
}

.ui.attached.menu:not(.tabular) {
  border: none;
}

.ui.modal button {
  color: $white-text;
}

.text-center {
  text-align: center;
  display: inline-block;
  line-height: 16px;
  margin-top: 10px;
  font-size: 12px;
}

#logo {
  width: 5em;
  margin: 0 auto;
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
}

#text-logo {
  display: block;
  margin: 0 auto;
  float: right;
  margin-left: 44%;
  height: 2em;
  margin-top: 0.5em;
}

.user-avatar {
  background: $primary-color;
  margin-top: 0px !important;
}

.user-avatar h2, .user-avatar h3, .user-avatar a {
  color: $white-text;
}

.update-photo {
  background: transparent !important;
  border: 1px solid $white-text !important;
  color: $white-text !important;
  margin-top: 2em !important;

}

.avatar {
  width: 100%;
  border-radius: 20em;
}

.user-avatar .email {
  font-size: 1.2em;
}

.edit-data-form {
  float: right;
  display: block;
  position: relative;
  margin-left: 10em;
  background: $primary-color !important;
  border-radius: 5em !important;
  line-height: 1.5em;
}

/* BUTTONS */
.ok-button {
  background: $green !important;
}

.cancel-button {
  background: $red !important;
}
