.add-course {
  background: $yellow !important;
  margin: 0 auto !important;
  display: block !important;
}

.add-class {
  background: $primary-color !important;
  width: 100%;
  color: $white-text !important;
  border-radius: 40px !important;
}

.added-blocks {
  margin-top: 2em;
}

.added-blocks div {
  width: 100%;
  color: $white-text !important;
}

.color-label {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 1em;
}

.red-label {
  background-color: $red;
}

.yellow-label {
  background-color: $yellow;
}

.green-label {
  background-color: $green;
}

.blue-label {
  background-color: $blue;
}

.fc-row.fc-widget-header {
  background-color: $orange;
  color: $white-text;
}

.fc-toolbar button {
  background: $white-text;
}

.colorpicker {
  width: 1.5em;
}

.fc-unthemed .fc-today {
  background-color: lighten($red, 9);
}

.segment-content {
  margin-top: 4em;
}

.save-calendar {
  background: $primary-color !important;
  color: $white-text !important;
  width: 100%;
}
