.main-content.login {

}

.main-content.login img {
  width: 100%;
}

.ui.dropdown.icon.item{
  display: block;
}

.main-content.login .column {
  padding: 3em !important;
  min-height: 510px;
  font-family: 'Open Sans', sans-serif !important;
  -webkit-box-shadow: 2px 3px 22px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 22px -4px rgba(0,0,0,0.75);
  box-shadow: 2px 3px 22px -4px rgba(0,0,0,0.75);
}

.main-content.login .column:first-child {
  background: $primary-color;
  color: $white-text;
}

.main-content.login .column:first-child h1 {
  margin-bottom: -40px;
  font-size: 3em;
  margin-top: 0px;
}

.main-content.login .column:first-child h2 {
  font-size: 3em;
  border-bottom: 0.1em solid $white-text;
  padding-right: 20px;
  margin-bottom: 1em;
}

.main-content.login .column:first-child p {
  font-size: 0.8em;
  margin-top: 30%;
}

.main-content.login .column:nth-child(2) {
  background: $white-text;
}

.main-content.login .column:nth-child(2) h3 {
  font-size: 2em;
}

.main-content.login .column:nth-child(2) a {
  color: $yellow;
}

.main-content.login .column:nth-child(2) a:hover {
  color: $yellow;
  text-decoration: underline;
}

.main-content.login .column:nth-child(2) input {
  background: lighten($gray-background, 8);
}

.main-content.login .column:nth-child(2) .ui.fluid.dropdown.selection {
  background: lighten($gray-background, 8);
}

.main-content.login .column:nth-child(2) button {
  border-radius: 40px;
  width: 60%;
  margin: 0 auto;
}
