#nav.ui.top.attached.menu {
  background: $primary-color;
  -webkit-box-shadow: -1px 3px 15px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 15px -1px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 15px -1px rgba(0,0,0,0.75);
}

#nav i {
  color: $white-text;
}

#side-nav i {
  float: left;
  padding-right: 2em;
}

#side-nav .item:first-child {
  margin-top: 6em;
}
