#draggable1 { width: 150px; height: 35px; padding: 0.5em; }
#draggable2 { width: 150px; height: 35px; padding: 0.5em; }
#draggable3 { width: 150px; height: 35px; padding: 0.5em; }

#unit-sort { width: 100%; height: 35px; padding: 0.5em; margin-bottom: 6em;}

#unit-sort > div { float: left; }

.unit-block {
  width: 23%;
  height: 100px;
  margin-left: 1em;
  text-align: center;
  color: $white-text;
  padding-top: 2em;
  cursor: pointer;
  border-radius: 10px;
}

.unit-block span {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.fc-content-skeleton {
  background-color: $orange !important;
  color: $white-text !important;
}

.custom-calendar .day {
  height: 300px;
}
